$primaryColor: orange;
$secondaryColor: #f1f3f2;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

.app {
   width: 90%;
   margin: auto;
}

header {
   height: 56px;
   width: 90%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: auto;
   z-index: 50;
   background-color: white;

   a {
      color: black;
      text-decoration: none;
   }

   .logo {
      font-size: 20px;
      font-weight: 600;
      color: orange;
   }

   nav {
      a {
         padding-right: 16px;
      }
   }

   .searchBox {
      background-color: $secondaryColor;
      width: 25%;
      height: 36px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.697);
      border-radius: 4px;
      padding: 0 8px;
      position: relative;

      input {
         width: 100%;
         height: 100%;
         border: none;
         outline: none;
         border-radius: 8px;
         padding: 0 8px;
         background: transparent;
      }
      .search-icon {
         width: 18px;
         height: 18px;
         text-align: center;
         color: black;
         cursor: pointer;
      }
   }
}

.hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 64px;
   height: 320px;
   width: 100%;
   background-color: $secondaryColor;
   border-radius: 8px;

   div {
      padding: 0 60px;
      text-transform: capitalize;

      h2 {
         padding: 8px 0;
         color: $primaryColor;
      }
   }
   img {
      height: 100%;
      width: 60%;
      object-fit: fill;
      border-radius: 8px;
   }
}

.recipeCard {
   height: 220px;
   min-width: 200px;
   border-radius: 8px;
   position: relative;
   cursor: pointer;

   img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: fill;
   }
   h4 {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.55);
      color: white;
      width: 100%;
      height: 48px;
      padding: 0 16px;
      font-size: 0.75rem;
      line-height: 16px;
   }
}

.special {
   text-align: center;
   padding: 32px 12px;

   div {
      display: flex;
      align-items: center;
      gap: 16px;
      overflow: auto;
      margin-top: 12px;
      padding-bottom: 12px;
   }
}
