* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

header {
   height: 60px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 40px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 50;

   a {
      color: black;
      text-decoration: none;
   }

   .logo {
      font-size: 20px;
      font-weight: 600;
      color: orange;
   }

   nav {
      a {
         padding-right: 16px;
      }
   }

   .searchBox {
      background-color: #f3f5f5;
      width: 25%;
      height: 36px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.697);
      border-radius: 4px;
      padding: 0 8px;
      position: relative;

      input {
         width: 100%;
         height: 100%;
         border: none;
         outline: none;
         border-radius: 8px;
         padding: 0 8px;
         background: transparent;
      }
      .search-icon {
         width: 18px;
         height: 18px;
         text-align: center;
         color: black;
         cursor: pointer;
      }
   }
}
