$primaryColor: orange;
$secondaryColor: #f1f3f2;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

.app {
   width: 90%;
   margin: auto;
}

header {
   height: 56px;
   width: 90%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: auto;
   z-index: 50;
   background-color: white;

   a {
      color: black;
      text-decoration: none;
   }

   .logo {
      font-size: 20px;
      font-weight: 600;
      color: orange;
   }

   nav {
      a {
         padding-right: 16px;
      }
   }

   .searchBox {
      background-color: $secondaryColor;
      width: 25%;
      height: 36px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.697);
      border-radius: 4px;
      padding: 0 8px;
      position: relative;

      input {
         width: 100%;
         height: 100%;
         border: none;
         outline: none;
         border-radius: 8px;
         padding: 0 8px;
         background: transparent;
      }
      .search-icon {
         width: 18px;
         height: 18px;
         text-align: center;
         color: black;
         cursor: pointer;
      }
   }
}

.hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 64px;
   height: 320px;
   width: 100%;
   background-color: $secondaryColor;
   border-radius: 8px;

   div {
      padding: 0 60px;
      text-transform: capitalize;

      h2 {
         padding: 8px 0;
         color: $primaryColor;
      }
   }
   img {
      height: 100%;
      width: 60%;
      object-fit: fill;
      border-radius: 8px;
   }
}

.recipeCard {
   height: 220px;
   min-width: 200px;
   width: 200px;
   border-radius: 8px;
   position: relative;
   cursor: pointer;

   img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: fill;
   }
   h4 {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.55);
      color: white;
      width: 100%;
      height: 48px;
      padding: 0 16px;
      font-size: 0.75rem;
      line-height: 16px;
   }
}

.special {
   text-align: center;
   padding: 32px 12px;

   div {
      display: flex;
      align-items: center;
      gap: 16px;
      overflow: auto;
      margin-top: 12px;
      padding-bottom: 12px;
   }
}

.recipeContainer {
   padding: 12px;

   .recipeHeader {
      display: flex;
      justify-content: space-between;
      height: fit-content;

      .left {
         width: 35%;
         height: 100%;
         position: relative;

         .thumbnail {
            width: 100%;
            height: 320px;
            margin-top: 12px;

            img {
               height: 100%;
               width: 100%;
               object-fit: fill;
               border-radius: 8px;
            }
         }
         button {
            position: absolute;
            bottom: 16px;
            right: 16px;
            padding: 8px 12px;
            background-color: $primaryColor;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
         }
      }
      .right {
         width: 60%;
         padding: 72px 20px;
         text-transform: capitalize;

         .ingredients {
            h4 {
               margin-top: 20px;
            }
            ul {
               display: flex;
               flex-wrap: wrap;
               margin: 16px;
               row-gap: 16px;
               column-gap: 60px;
            }
         }
      }
   }
   .instructions {
      h4 {
         margin-top: 20px;
         margin-bottom: 12px;
      }
      p {
         line-height: 24px;
      }
   }
}

.randomRecipe {
   padding: 20px 40px;
   background-color: $secondaryColor;
}

.selected {
   padding: 20px;
   padding-top: 64px;

   .related {
      text-align: center;
         padding: 0 80px;


      h3 {
         padding: 20px 0;
      }

      &-recipes {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 16px;
      }
   }
}

.allRecipes {
   padding: 68px 80px;
   padding-bottom: 12px;
}
.categories {
   padding: 16px;

   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px 20px;
      list-style: none;

      li {
         background-color: $secondaryColor;
         border-radius: 20px;
         border: 1px solid rgba(0, 0, 0, 0.4);
         padding: 8px 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
      }
   }

   .highlight {
      background-color: $primaryColor;
   }
}

.filtered {
   padding: 16px;
   width: 100%;

   &-recipes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
   }
   &-pagination {
      display: flex;
   }
}

.pagination {
   display: flex;
   justify-content: center;
   gap: 12px;
   width: 60%;
   margin: 20px auto;

   button {
      padding: 12px 0;
      width: 44px;
      font-weight: 600;
      background-color: $primaryColor;
      color: white;
      border: 2px solid rgba(0, 0, 0);
      border-radius: 4px;
      cursor: pointer;
   }
   button:disabled {
      opacity: 0.7;
      cursor: not-allowed;
   }

   .highlight {
      background-color: $secondaryColor;
      color: black;
   }
}
